
body{

font-family: 'Roboto', sans-serif;
background: #F5F4FA;
display: block;

}

/* header styles */
.logo-link{

    font-size: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-studio{ color: #000000;;}

header{
    background-color: #FFFFFF;
    position: absolute;
        width: 1600px;
        height: 80px;
        left: -5px;
        top: 0px;
        
}
.menu{
    font-family: 'Roboto';
        font-style:normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        list-style: none;
        display: flex;
position: absolute;
left: 0;
      margin: 0 auto;
      
      
}




.studio{
    color: #2196F3;
    text-decoration: none;}
  .portfolio{
   text-decoration: none;
   color: #212121;
    }

 
 
  
.contacts{
 color: #757575;
 text-decoration: none;
display: flex;

}

.main-text{font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:#FFFFFF ;}


.button{
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-color: transparent;

}

.che{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}







.secondary{

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.characteristic{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    list-style: none;
}
.character{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}

.photo-list{
    list-style: none;
    
}

.portrets{
    list-style: none;
    

}



.text-name{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.prof{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.city{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
}
.portfolio1:hover{color: #2196F3;

}
.portfolio1{
    text-decoration: none;
        color: #212121;
}
    
.contacts1:hover{
    color: #2196F3;
}
.contacts1{
    color: #757575;
        text-decoration: none;
    }
.menu1{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        list-style: none;
        display: flex;
}
.menu2{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        list-style: none;
        display: flex;


    
}