
body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 16px;
position: relative;
height:auto;
background-color:#E5E5E5 ;
display: inline-block;
width: 100%;
margin: 0px auto;

  
}
/* header styles */
.menu{
 background-color:#FFFFFF ;
    width:  auto;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
   
}
.menubar{
    height: 80px;
    display: flex;
   list-style: none;
   padding-left: 0%;
   margin-bottom: 0%;
}


